*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    display: flex;
    flex-direction: column;
}

/* header container */
.header {
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
    color: white;
    padding: 15px;
} 
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    gap: 12px;

}

/* first container */

.first-container {
    padding: 80px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
}
.largeText {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.smallText {
    font-size: 18px;
    color: #e5e7eb;
    padding: 8px;

}
.logo-container {
    text-align: center;
    font-size: 24px;
    color: #f9faf8;
}
.birdImg {
    height: 200px;
    width: 350px;
}

.firstSign {
    background-color: #3882f6;
    text-align: center;
    color: #e5e7eb;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

/*second container */
.second-container {
    background-color: #f9faf8;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

 
.info-container {
    font-size: 40px;
    padding: 20px;
    font-weight: bold;
    color:  #1F2937;

}
img {
    height: 175px;
    width: 175px;
    border-radius: 8px;
  }
.info {
    text-align: center;
}
.img-container {
    display: flex;
    gap: 20px;

}

/*third container */

.third-container {
    background-color: #e5e7eb;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    font-style: italic;
}
.quoteTwo {
    font-size: 24px;
    text-align: end;
}

/* fourth container */
.fourth-container {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    
}
.sign-container {
    color: #e5e7eb;
     background-color: #3882f6;
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    border-radius: 12px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.fourthButton{
    background-color: #3882f6;
    text-align: center;
    color: #e5e7eb;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
}  

/* footer container */
.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 20px;
    color: white;
}